div.container {
	display: inline-block;
}
div.details {
	display: inline-block;
}
button {
	color: white; 
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 18px;
	background-color: #6fdc6f;
	border: none;
	padding: 10px 50px;
	cursor: pointer;
	cursor: hand;
}
button:disabled {
	background-color: #eee;
	color: #aaa; 
	cursor: auto;
}